<ion-view view-title="测试页面">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    </ion-list>

    <ion-list>
    	  <h3>登录模拟</h3>
		  <label class="item item-input">
		    <span class="input-label">Username</span>
		    <input ng-model="user.name" type="text">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">Password</span>
		    <input ng-model="user.pwd" type="password">
		  </label>
		  <button class="button button-block button-positive" ng-click="submitLogin()">
			  登录
		  </button>
    </ion-list>

    <ion-list>
    	  <h3>模态框</h3>
		  <label class="item item-input">
		    <input ng-model="user.file" ng-show="false" type="file">
		  </label>
		  <button class="button button-block button-positive" ng-click="modalShow()">
			  点击
		  </button>
    </ion-list>

	  <ion-list>
	  	<h3>百叶</h3>
	    <div ng-repeat="group in groups">
	      <ion-item class="item-stable"
	                ng-click="toggleGroup(group)"
	                ng-class="{active: isGroupShown(group)}">
	          <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
	        Group {{group.name}}
	      </ion-item>
	      <ion-item class="item-accordion"
	                ng-repeat="item in group.items"
	                ng-show="isGroupShown(group)">
	        {{item}}
	      </ion-item>
	    </div>
	  </ion-list>
      
	    <ion-list>
	    	  <h3>cookie</h3>
			  <label class="item item-input">
			    <span class="input-label">Username</span>
			    <input ng-model="data.cookieName" type="text">
			  </label>
			  <button class="button button-block button-positive" ng-click="saveCookie()">
				  保存到cookie中
			  </button>
			  <button class="button button-block button-positive" ng-click="getCookie()">
				  获得cookie
			  </button>				  
			  <button class="button button-block button-positive" ng-click="removeCookie()">
				  从cookie中清除
			  </button>			  
	    </ion-list>	  




  </ion-content>
</ion-view>
