doctype html
html
	head
		- var pageName = 'jade';
		meta(charset="utf-8")
		link(rel="stylesheet", type="text/css" href="/stylesheets/style.css")
		title #{pageName.toUpperCase()}学习
		block scripts
			script(src="./jquery.js")
	body
		block content
		